/* ===================================MAIN ONE============================= */
.main-one {
  padding-top: 64px;
  padding-bottom: 79px;
}
.main-one__title {
  color: #383736;
  font-family: Raleway;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.main-one__text {
  color: #787878;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.main-one__card-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 238px;
  margin-bottom: 50px;
}
.main-one__card {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: #F7F6F2;
  text-align: center;
  padding: 42px 32px;
}
.number {
  color: #FCDB5C;
  text-align: center;
  font-family: Raleway;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
  display: block;
}
.main-one__card-text {
  display: block;
  color: #383736;
  text-align: center;
  font-family: Raleway;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
}
/* ----------------------------ACCORDION START--------------------- */
.accordion-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 390px;
  justify-content: space-between;
  align-items: flex-start;
}
.accordion 
{
  background-color: #F7F6F2;
  color: #444;
  cursor: pointer;
  padding: 18px 74px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  position: relative;
}
.active-acc, .accordion:hover 
{
  background-color: #ccc;
}
.accordion:after 
{
  /* '\002B' */
  content: "";
  color: #777;
  font-weight: bold;
  position: absolute;
  top: 16px;
  left: 32px;
  background-image: url(../assets/icon/Plus_circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition: all .3s ease-out;
}
.active-acc:after 
{
  /* content: "\2212"; */
  content: "";
  transform: rotate(45deg);
}
.panel 
{
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
/* ----------------------------ACCORDION END----------------------- */
/* ============================MAIN ONE=================================== */

/* ============================MAIN TWO=================================== */
.main-two {
  padding-top: 25px;
  padding-bottom: 32px;
}
.main-two__title {
  color: #383736;
  font-family: Raleway;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.main-two__text {
  color: #787878;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.main-two__stage-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../assets/img/img-2.png);
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: right top;
  position: relative;
  overflow: hidden;
  height: 790px;
  width: 100%;
}
.stage-curtian {
  width: 18%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform: skewX(-15deg);
  top: 0;
  left: 284px;
  z-index: 1;
}
.stage-list {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  width: 30% !important;
  height: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.stage-item {
  padding: 0 40px 0 20px;
  height: 70px;
  background-color: #F7F6F2;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.stage-item::before {
  content: "";
  width: 40px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -15px;
  transform: skewX(-15deg);
  z-index: 4;
}
.stage-item:first-child {
  width: 100%;
}
.stage-item:nth-child(2) {
  width: 79%;
}
.stage-item:nth-child(3) {
  width: 68%;
}
.stage-item:nth-child(4) {
  width: 73%;
}
.stage-item:nth-child(5),
.stage-item:nth-child(6),
.stage-item:nth-child(7),
.stage-item:nth-child(8),
.stage-item:nth-child(9),
.stage-item:nth-child(10) {
  width: 69%;
}
.stage-item.active {
  background-color: #FCDB5C;
}
.stage-order {
  color: #787878;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 32px;
}
.stage-text {
  color: #787878;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.stage-item.active .stage-text,
.stage-item.active .stage-order {
  color: #2C2C32;
}
.stage-item.active::after {
  content: "";
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 6px;
  transform: skewX(-15deg);
  background-color: #2C2C32;
  z-index: 5;
}
.stage-info {
  width: 70%;
  min-height: 790px;
  position: relative;
  z-index: 5;
}
.stage-texts {
  width: 890px;
  height: 600px;
  padding: 50px 200px;
  position: absolute;
  top: 128px;
  left: -40px;
  z-index: 2;
}
.st-black-cur {
  width: 728px;
  height: 600px;
  transform: skewX(-15deg);
  background-color: #2C2C32;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 80px;
}
.st-yellow-line {
  width: 30px;
  height: 600px;
  background-color: #FCDB5C;
  transform: skewX(-15deg);
  top: 0;
  left: 46px;
  position: absolute;
}
.stage-texts-info {
  color: #FFF;
  font-family: Raleway;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.st-p {
  color: #C8C8C8;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.st-price {
  position: absolute;
  color: #383736;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 24px 50px;
  z-index: 10;
  bottom: -30px;
  right: 150px;
}
.st-price::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewX(-15deg);
  background-color: #FCDB5C;
  top: 0;
  left: 0;
  z-index: -1;
}
/* =========================================MAIN TWO=============================== */
/* =========================================MAIN THREE=============================== */
.main-three {
  min-height: 812px;
  width: 100%;
  background-image: url(../assets/img/img-3.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 210px;
}
.main-three__block-info {
  background-image: url(../assets/img/img-4.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  padding-top: 70px;
  padding-left: 90px;
  position: relative;
}
.m3-text-info {
  color: #A1A1A1;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}
.m3-title {
  color: #FFF;
  font-family: Raleway;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
  max-width: 753px;
}
.free-service {
  color: #A1A1A1;
  font-family: Raleway;
  font-size: 41px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 600px;
  display: block;
  margin-bottom: 24px;
}
.fs-yellow {
  color: #FCDB5C;
}
.m3-last-text {
  color: #A1A1A1;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.yellow-card {
  width: 396px;
  height: 693px;
  background-color: #FCDB5C;
  top: 50px;
  right: 70px;
  position: absolute;
  padding: 36px 22px;
}
.yellow-card > span {
  display: block;
}
.present {
  color: #2C2C32;
  text-align: center;
  font-family: Raleway;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.black-pre {
  padding: 12px;
  background-color: #2C2C32;
  color: #FCDB5C;
  text-align: center;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.booking {
  color: #2C2C32;
  text-align: center;
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.find-out {
  color: #383736;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 40px;
}
.phone-num {
  color: #2C2C32;
  text-align: center;
  font-family: Raleway;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.yellow-btn {
  width: 100%;
  height: 70px;
  color: var(--white, #FFF);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: block;
  background-color: transparent;
  position: relative;
  z-index: 1;
  border: none;
}
.yellow-btn::before {
  position: absolute;
  top: 0;
  left: 9px;
  content: "";
  width: 95%;
  height: 100%;
  background-color: #2C2C32;
  z-index: -1;
  transform: skewX(-15deg);
}
.yellow-btn:active.yellow-btn::before {
  box-shadow: inset 3px 3px 6px rgba(255,255,255,.3);
}
/* =========================================MAIN THREE=============================== */