/* ===================================MAIN ONE============================= */
.main-one {
  padding-top: 64px;
  padding-bottom: 79px;
}
.main-one__title {
  color: #383736;
  font-family: Raleway;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.main-one__text {
  color: #787878;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.main-one__card-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 238px;
  margin-bottom: 50px;
}
.main-one__card {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: #F7F6F2;
  text-align: center;
  padding: 42px 32px;
}
.number {
  color: #FCDB5C;
  text-align: center;
  font-family: Raleway;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
  display: block;
}
.main-one__card-text {
  display: block;
  color: #383736;
  text-align: center;
  font-family: Raleway;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
}
/* ----------------------------ACCORDION START--------------------- */
.accordion-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 390px;
  justify-content: space-between;
  align-items: flex-start;
}
.accordion 
{
  background-color: #F7F6F2;
  color: #444;
  cursor: pointer;
  padding: 18px 74px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  position: relative;
}
.active-acc, .accordion:hover 
{
  background-color: #ccc;
}
.accordion:after 
{
  /* '\002B' */
  content: "";
  color: #777;
  font-weight: bold;
  position: absolute;
  top: 16px;
  left: 32px;
  background-image: url(../assets/icon/Plus_circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition: all .3s ease-out;
}
.active-acc:after 
{
  /* content: "\2212"; */
  content: "";
  transform: rotate(45deg);
}
.panel 
{
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
/* ----------------------------ACCORDION END----------------------- */
/* ============================MAIN ONE=================================== */

/* ============================MAIN TWO=================================== */
.main-two {
  padding-top: 25px;
  padding-bottom: 32px;
}
.main-two__title {
  color: #383736;
  font-family: Raleway;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.main-two__text {
  color: #787878;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.main-two__stage-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../assets/img/img-2.png);
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: right top;
  position: relative;
  overflow: hidden;
  height: 790px;
  width: 100%;
}
.stage-curtian {
  width: 18%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform: skewX(-15deg);
  top: 0;
  left: 284px;
  z-index: 1;
}
.stage-list {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  width: 30% !important;
  height: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.stage-item {
  padding: 0 40px 0 20px;
  height: 70px;
  background-color: #F7F6F2;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.stage-item::before {
  content: "";
  width: 40px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -15px;
  transform: skewX(-15deg);
  z-index: 4;
}
.stage-item:first-child {
  width: 100%;
}
.stage-item:nth-child(2) {
  width: 79%;
}
.stage-item:nth-child(3) {
  width: 68%;
}
.stage-item:nth-child(4) {
  width: 73%;
}
.stage-item:nth-child(5),
.stage-item:nth-child(6),
.stage-item:nth-child(7),
.stage-item:nth-child(8),
.stage-item:nth-child(9),
.stage-item:nth-child(10) {
  width: 69%;
}
.stage-item.active {
  background-color: #FCDB5C;
}
.stage-order {
  color: #787878;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 32px;
}
.stage-text {
  color: #787878;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.stage-item.active .stage-text,
.stage-item.active .stage-order {
  color: #2C2C32;
}
.stage-item.active::after {
  content: "";
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 6px;
  transform: skewX(-15deg);
  background-color: #2C2C32;
  z-index: 5;
}
.stage-info {
  width: 70%;
  min-height: 790px;
  position: relative;
  z-index: 5;
}
.stage-texts {
  width: 890px;
  height: 600px;
  padding: 50px 200px;
  position: absolute;
  top: 128px;
  left: -40px;
  z-index: 2;
}
.st-black-cur {
  width: 728px;
  height: 600px;
  transform: skewX(-15deg);
  background-color: #2C2C32;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 80px;
}
.st-yellow-line {
  width: 30px;
  height: 600px;
  background-color: #FCDB5C;
  transform: skewX(-15deg);
  top: 0;
  left: 46px;
  position: absolute;
}
.stage-texts-info {
  color: #FFF;
  font-family: Raleway;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.st-p {
  color: #C8C8C8;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.st-price {
  position: absolute;
  color: #383736;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 24px 50px;
  z-index: 10;
  bottom: -30px;
  right: 150px;
}
.st-price::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewX(-15deg);
  background-color: #FCDB5C;
  top: 0;
  left: 0;
  z-index: -1;
}
/* =========================================MAIN TWO=============================== */
/* =========================================MAIN THREE=============================== */
.main-three {
  min-height: 812px;
  width: 100%;
  background-image: url(../assets/img/img-3.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 210px;
}
.main-three__block-info {
  background-image: url(../assets/img/img-4.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  padding-top: 70px;
  padding-left: 90px;
  position: relative;
}
.m3-text-info {
  color: #A1A1A1;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}
.m3-title {
  color: #FFF;
  font-family: Raleway;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
  max-width: 753px;
}
.free-service {
  color: #A1A1A1;
  font-family: Raleway;
  font-size: 41px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 600px;
  display: block;
  margin-bottom: 24px;
}
.fs-yellow {
  color: #FCDB5C;
}
.m3-last-text {
  color: #A1A1A1;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.yellow-card {
  width: 396px;
  height: 693px;
  background-color: #FCDB5C;
  top: 50px;
  right: 70px;
  position: absolute;
  padding: 36px 22px;
}
.yellow-card > span {
  display: block;
}
.present {
  color: #2C2C32;
  text-align: center;
  font-family: Raleway;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.black-pre {
  padding: 12px;
  background-color: #2C2C32;
  color: #FCDB5C;
  text-align: center;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.booking {
  color: #2C2C32;
  text-align: center;
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.find-out {
  color: #383736;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 40px;
}
.phone-num {
  color: #2C2C32;
  text-align: center;
  font-family: Raleway;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.yellow-btn {
  width: 100%;
  height: 70px;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: block;
  background-color: transparent;
  position: relative;
  z-index: 1;
  border: none;
}
.yellow-btn::before {
  position: absolute;
  top: 0;
  left: 9px;
  content: "";
  width: 95%;
  height: 100%;
  background-color: #2C2C32;
  z-index: -1;
  transform: skewX(-15deg);
}
.yellow-btn:active.yellow-btn::before {
  box-shadow: inset 3px 3px 6px rgba(255,255,255,.3);
}
/* =========================================MAIN THREE=============================== */
/* ========================================MAIN FOUR================================= */
.main-four {
  padding-top: 114px;
  padding-bottom: 104px;
  background-color: #2C2C32;
}
.main-four__info {
  color: #A1A1A1;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}
.main-four__info::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 700px;
  height: 1px;
  background-color: #A1A1A1;
}
.main-four__title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.main-four__title {
  color: #FFF;
  font-family: Raleway;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.piece {
  color: #FCDB5C;
  text-align: right;
  font-family: PT Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
}
.main-four__tech-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech-card-item {
  overflow: hidden;
  position: relative;
  min-width: 349px;
  height: 548px;
  cursor: pointer;
}
.tech-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 2;
  transition: all .3s linear;
}
.tech-title {
  z-index: 3;
  position: absolute;
  color: #FCDB5C;
  text-align: center;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  top: 110%;
  left: 72px;
  transition: all .3s linear;
}
.tech-text {
  position: absolute;
  z-index: 4;
  color: #F7F6F2;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  left: 34px;
  top: 110%;
  transition: all .3s linear;
}
.tech-card-item:hover .tech-shadow {
  top: 0;
}
.tech-card-item:hover .tech-title {
  top: 198px;
}
.tech-card-item:hover .tech-text {
  top: 276px;
}
.tech-card-item::before {
  width: 50px;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  transform: skewX(-4deg);
  background-color: #2C2C32;
  z-index: 5;
}
.tech-card-item::after {
  width: 50px;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  transform: skewX(-4deg);
  background-color: #2C2C32;
  z-index: 5;
}
/* ========================================MAIN FOUR================================= */
/* ========================================MAIN FIVE================================= */
.main-five {
  padding-top: 135px;
  padding-bottom: 128px;
  position: relative;
}
.main-five__grey-back {
  background-color: #F7F6F2;
  width: 100%;
  height: 650px;
  position: absolute;
  top: 135px;
  z-index: -2;
}
.main-five__grey-back::before {
  content: "";
  width: 32.739px;
  height: 842.844px;
  transform: rotate(15deg);/*-74.348deg*/
  position: absolute;
  right: 14%;  
  top: -80px;
  background-color: #FFF;
  z-index: -1;
}
.main-five__carousel-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-carousel-block {
 width: 45%;
 height: 650px;
 position: relative;
 z-index: 1;
 background-color: #FCDB5C;
}
.img-item {
  position: absolute;
  width: 100%;
  height: 860px;
  background-color: #2C2C32;
  top: -110px;
  left: 0;
  z-index: 2;
}
.img {
  width: 100%;
  height: 100%;
}
.nav-block {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 15px;
  bottom: 15px;
  width: 160px;
  height: 40px;
}
.prev {
  background-image: url(../assets/img/left.png);
}
.next {
  background-image: url(../assets/img/right.png);
  margin-left: 10px;
}
.zoom {
  background-image: url(../assets/img/zoom.png);
  margin-left: 20px;
}
.prev,
.next, 
.zoom {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background-color: #383736;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}
.prev:hover,
.next:hover, 
.zoom:hover {
  background-color: #242323;
}
.info-carousel {
  width: 55%;
  height: 650px;
}
.info-item {
  width: 100%;
  height: 650px;
  padding-top: 80px;
  padding-left: 60px;
  position: relative;
}
.ooo {
  display: block;
  color: #787878;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.title-slide {
  color: #383736;
  font-family: Raleway;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 42px; 
}
.list-title {
  color: #383736;
  font-family: Raleway;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.info-list {
  width: 533px;
  height: 150px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 200px;
}
.info-items {
  list-style: disc;
}
.yellow-info-block {
  width: 100%;
  height: 142px;
  background-color: #FCDB5C;
  position: absolute;
  top: 410px;
  left: 0;
  padding-left: 60px;
  padding-top: 16px;
}
.yib-title {
  color: #2C2C32;
  font-family: Raleway;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.yib-span {
  color: #2C2C32;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
}
.yib-btn {
  position: absolute;
  width: 200px;
  height: 70px;
  color: #FCDB5C;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  z-index: 1;
  border: none;
  top: 40px;
  right: 20px;
}
.yib-btn::before {
  position: absolute;
  top: 0;
  left: 9px;
  content: "";
  width: 95%;
  height: 100%;
  background-color: #2C2C32;
  z-index: -1;
  transform: skewX(-15deg);
}
.yib-btn:active.yib-btn::before {
  box-shadow: inset 3px 3px 6px rgba(255,255,255,.3);
}
.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrows {
  width: 76px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-left {
  background-image: url(../assets/icon/left.svg);
}
.arrow-right {
  background-image: url(../assets/icon/right.svg);
}
.arrow-left, 
.arrow-right {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.page {
  color: #A1A1A1;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  }
  .page > pre {
    margin: 0;
    position: relative;
  }
  .page > pre::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #A1A1A1;
    top: 9px;
    left: 11px;
  }
/* ========================================MAIN FIVE================================= */
